body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 16px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-content1 img {
    width: 30%;
    margin-right: 30%; 
    margin-left: 1%; 
    vertical-align: middle; 
}

.header {
    background-color: #f86060;
    color: white;
    position: sticky;
    top: 0; 
    z-index: 1000; 
}

.container {
    max-width: 80vw; 
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}

.header-content1, .header-content2 {
    display: flex;
    align-items: center;
    margin-bottom: 0.01vh; 
    padding: 0.1em; 
}

.header-content2 h2 {
    margin-left: 1.2vw; 
    font-size: 1.7em; 
}

.full-screen-image {
    background-image: url('photo/snack-bento-box-1296x728-header.webp');
    background-size: cover;
    background-position: center;
    width: 100vw; 
    height: calc(100vh - 10vh); 
}

.header-content2 h2 a {
    color: white;
    text-decoration: none;
}

.header-content2 h2 a:hover {
    text-decoration: underline;
}

header h1 a {
    color: white;
    text-decoration: none;
}


@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: center; 
    }

    .header-content2 h2 {
        margin: 0.3em;
        
        text-align: center; 
        font-size: 1em; 
        margin-left: 0.5vw; 
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .container {
        max-width: 90vw; 
    }

    .header-content2 h2 {
        margin-left: 0;
        text-align: center; 
    }

    .header-content2 h2 {
        margin: 0.5em; 
    }
}

@media only screen and (max-width: 360px) {
    .header-content2 h2 {
        font-size: 1em; 
        margin-left: 0;
        margin: 0.2em; 
    }
}

.image-container {
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-around;
    align-items: center;
}

.image-wrapper img {
    transition: transform 0.5s ease, margin-bottom 0.5s ease;
    width: 120px;
    height: auto;
    border: 3px solid #f86060;
    padding: 5px;
}

.image-wrapper:hover img {
    transform: scale(1.5);
    margin-bottom: 20px;
}

.hover-area {
    display: none;
    transition: opacity 0.5s ease; 
}

.hover-area.show {
    display: block;
}

.image-name {
    display: block;
    margin-top: 5px;
    font-size: 14px;
}

