body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    padding: 20px;
    background-image: url('photo/background.jpg');
}

header {
    background-color: transparent; 
    color: white;
    text-align: center;
    padding: 20px 0;
    border-radius: 10px;
}

header h1 a {
    font-size: 24px;
    background-color: #1e9f545d; 
    color: white;
    display: inline-block;
    border-radius: 10px;
    padding: 10px 20px;
    text-decoration: none;
    margin-right: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #181818a7;
    text-decoration: none;
    font-weight: bold;
  
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}


.recipe-details {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.recipe-details h3 {
    color: #1e9f54; 
}

.recipe-details p, .recipe-details ul, .recipe-details ol {
    color: #333;
}

.recipe-details ul, .recipe-details ol {
    margin-left: 20px;
}

.recipe-details ol {
    list-style-type: decimal;
}


.scroll-up {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #94b769;
    color: white;
    padding: 0px;
    border-radius: 50%;
    font-size: 24px;
    text-align: center;
    width: 40px;
    height: 50px;
    line-height: 40px;
    text-decoration: none;
    transition: opacity 0.3s;
    z-index: 1000;
}

body:not(:target) .scroll-up {
    display: inline-block;
}

.scroll-up:hover {
    background-color: #99ab5e;
}


