body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 16px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*background-image: url('photo/depositphotos_211633178-stock-photo-user-profile-icon-user-profile.jpg');*/
    background-color: #A5DD9B;
    background-size: cover;
    background-repeat: no-repeat;
   
}

.header {
    background-color: #C5EBAA;
    color: white;
   
    position: sticky; 
    
    width: 100%; 
  padding-top: 0 ;
  top: 0;
    z-index: 1000; 
    height: auto;
    
}


@media only screen and (max-width: 320px) { 
    .container {
        flex-direction: column;
        align-items: center;
    }

    .header-content2 h2 {
        margin: 0.2em; 
        font-size: 0.9em; 
    }
}


.profile-section {
    margin-top: 22vh;
}

.container {
    padding: 10px;
    max-width: 90vw; 
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}

.header-content1, .header-content2 {
    display: flex;
    align-items: center;
    margin-bottom: 1vh; 
    padding: 0.001px; 
}

.header-content2 h2 {
    margin: 0.3em; 
    font-size: 1em; 
}

.profile-section {
    margin: 2em;
}



.profile-section {
    margin: 2em;
    padding: 2em;
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff; 
}


.profile-section label {
    display: block;
    margin-bottom: 0.5em;
}

.profile-section input {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
}

.profile-section button {
    padding: 0.5em 1em;
    background-color: #F2C18D;
    color: white;
    border: none;
    cursor: pointer;
}

.profile-section button:hover {
    background-color: #F2C18D;
}
