body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    padding: 20px;
    background-image: url('photo/background.jpg');
}

header {
    background-color: transparent;
    color: white;
    text-align: center;
    padding:  0;
    margin-top: 0;
   
}

header h1 a{
    margin-top: 0;
    font-size: 24px;
    
    background-color: #1e9f545d;
    color: white;

    display: inline;
    border-radius: 10px;
    padding: 10px 10px;
    text-decoration: none;
}
header h1 a:hover{
    text-decoration: underline;
}


.manage-text-container{
    text-align: center;
    margin-bottom: 0px;
}

.manage-text {
    text-align: center;
    color:rgb(48, 48, 48);
    background-color: rgba(255, 255, 255, 0.661) ;
    display: inline-block;
    border-radius: 30px;
    padding: 0.8%;
    margin-bottom: 10px;
    
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
