<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Screen Image</title>
    <link rel="stylesheet" href="/CuPO/WEB/TEST/views/Style-CSS/HPstyle2.css">
</head>
<body>
    <div class="full-screen-image">
        <div class="overlay">
            <div class="header-content1">
                <h1><a href="/home/homeL"><img src="/CuPO/WEB/TEST/views/photo/Cupo.png" alt="Logo">Home</a></h1>
            </div>
            <div class="header-content2">
                <h2><a href="/home/login">Login</a></h2>
                <h2><a href="/home/info">Info</a></h2>
            </div>
        </div>
    </div>

    <div class="full-screen-image"></div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var images = [
                '/CuPO/WEB/TEST/views/photo/appetizing-vegetable-salad-with-eggs-avocado-wooden-background.jpg',
                '/CuPO/WEB/TEST/views/photo/top-view-plate-healthy-food.jpg',
                '/CuPO/WEB/TEST/views/photo/plate-with-keto-diet-food-cherry-tomatoes-chicken-breast-eggs-carrot-salad-with-arugula-spinach-keto-lunch-top-view.jpg',
            ];

            var randomImage = images[Math.floor(Math.random() * images.length)];

            document.querySelector('.full-screen-image').style.backgroundImage = 'url(' + randomImage + ')';
        });
    </script>
</body>
</html>
