<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Screen Image</title>
    <link rel="stylesheet" href="/CuPO/WEB/TEST/views/Style-CSS/HPstyle.css">

</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header-content1">
                <h1><a href="/home/home"><img src="/CuPO/WEB/TEST/views/photo/Cupo.png" alt="Logo">Home</a></h1>
            </div>
            <div class="header-content2">
                <h2><a href="/home/login">Login</a></h2>
                <h2><a href="/home/register"></a>Register</h2>
                <h2><a href="/home/info">Info</a></h2>
            </div>  
            
        </div>
    </header>

    <div class="full-screen-image"></div>

</body>
</html>
