body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #ece9e6, #ffffff);
    color: #333;
}

.header {
    text-align: center;
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: top 0.5s;
    top: 0;
    background-color: #2b3637; /* Dark grey header */
}

.header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
}

.header-content1 h1 {
    display: flex;
    align-items: center;
}

.header-content1 a {
    color: #fff;
    text-decoration: none; /* Remove underline */
}

.header-content1 a:hover {
    color: #fff; /* Keep text white on hover */
}

/* Main content styles */
main {
    padding: 120px 1em 1em;
    /* Adjusted padding for header */
}

.metadata-section {
    background: #fff; 
    margin: 1em 0;
    padding: 2em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.metadata-section h2 {
    margin-bottom: 1em;
}

.metadata-section form {
    display: flex;
    flex-direction: column;
}

.metadata-section label {
    margin: 0.5em 0 0.2em;
    font-weight: bold;
}

.metadata-section input,
.metadata-section textarea {
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.metadata-section .btn {
    display: inline-block;
    padding: 0.7em 1.5em;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    text-align: center;
    width: fit-content;
}

.metadata-section .btn:hover {
    background-color: #45a049; /* Darker green on hover */
}

/* Footer styles */
footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: #fff;
    margin-top: 2em;
}

@media (max-width: 600px) {
    .header .container {
        flex-direction: column;
        align-items: center;
    }

    .metadata-section form {
        padding: 1em;
    }
}
