body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    color: #282828;
}

.header {
    background-color: #f8f9fa;
    color: #282828;
    position: sticky;
    top: 0;
    padding: 1rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: top 0.5s;
}

.header-content1 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.header-content1 a {
    color: #282828;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

.header-content1 a:hover {
    text-decoration: none;
    color: #282828;
}

.profile-section {
    margin: 2em;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.profile-section h2 {
    margin-bottom: 1em;
    font-size: 1.5em;
    text-align: center;
    color: #282828;
}

.profile-section label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
    color: #495057;
}

.profile-section input,
.profile-section textarea,
.profile-section select {
    width: 100%;
    padding: 0.75em;
    margin-bottom: 1em;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-sizing: border-box;
}

.profile-section input:focus,
.profile-section textarea:focus,
.profile-section select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
    outline: none;
}

.btn-primary {
    width: 100%;
    padding: 0.75em;
    font-size: 1.2em;
    border-radius: 5px;
}

.btn-outline-success {
    margin-bottom: 1em;
}

@media (max-width: 768px) {
    .profile-section {
        padding: 1em;
    }
}

.checkbox-label {
    margin-right: 1em;
}
