body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(90deg, transparent 0%, transparent 10%, rgb(202,122,129) 10%, rgb(202,122,129) calc(10% + 1px), transparent calc(10% + 1px), transparent 100%), linear-gradient(180deg, white 12%, transparent 12%), repeating-linear-gradient(180deg, #91C1E1 0px, #91C1E1 1px, transparent 1px, transparent 30px), linear-gradient(white,white);
    color: #282828;
}

.header {
    text-align: center;
    color: #282828;
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: top 0.5s;
    top : 0;
}

a {
    color: #282828;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.header-content1 img {
    width: 10%;
    vertical-align: middle;
}

.basket {
    position: absolute;
    top: 0px;
    right: 10px;
}


.basket a {
    display: flex;
    align-items: center;
    font-size: 1.2em;
}

.basket img {
    width: 30px;
    margin-right: 10px;
    vertical-align: middle;
}

.basket-btn {
    background-color: #f7f7f7;
    color: #282828;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.basket-btn:hover {
    background-color: #131415;
}

.container {
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.grid-item {
    display: flex;
    justify-content: center;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    text-align: center;
    width: 100%;
    max-width: 300px;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-body {
    padding: 30px;
}

.card-title {
    margin: 10px 0;
    font-size: 1.25em;
    font-weight: bold;
}

.card-text {
    color: #777;
    font-size: 1em;
}

.topnav {
    overflow: hidden;
    position: sticky;
    background-color: #e9e9e9;
    padding: 10px 0;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: white;
    color: rgb(40, 40, 40);
}

.topnav input[type=text] {
    float: left;
    padding: 10px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 50%;
    transition: width 0.4s ease-in-out;
}

.topnav input[type=text]:focus {
    width: 60%;
}

@media screen and (max-width: 600px) {
    .topnav a,
    .topnav input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .topnav input[type=text] {
        border: 1px solid #ccc;
        width: 100%;
    }

    .basket {
        position: static;
        text-align: center;
        margin-top: 10px;
    }

    .basket a {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .basket a {
        font-size: 0.8em;
    }

    .basket img {
        width: 20px;
        margin-right: 5px;
    }

    .basket {
        top: 20px;
        right: 10px;
    }
}

@media (max-width: 480px) {
    .basket a {
        font-size: 0.6em;
    }

    .basket img {
        width: 15px;
        margin-right: 3px;
    }
}
