body, html {
    margin: 0;
    padding: 0;
    height : 20%;
    font-size: 1rem; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f86060; 
    background-size: cover;
    background-repeat: no-repeat;

}

.header {
    background-color: #f68787;
    color: white;
    position: sticky; 
    width: 100%; 
    padding-top: 0;
    top: 0;
    z-index: 1000; 
    height: auto;
}

.header-content1 {
    display: flex;
    justify-content: center;
    width: 100%; 
}

.header-content1 a {
    color: white;
    text-decoration: none;
}

.header-content1 a:hover {
    text-decoration: none;
    color: white; 
}

.profile-section a {
    color: white;
    text-decoration: none; 
}

.profile-section a:hover {
    text-decoration: none;
    color: white; 
}

@media only screen and (max-width: 320px) { 
    .container {
        flex-direction: column;
        align-items: center;
    }

    .header-content2 h2 {
        margin: 0.2em; 
        font-size: 0.9em; 
    }
}

.profile-section {
    margin-top: 5vh; 
}

.container {
    padding: 1vw;
    max-width: 80vw; 
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}



.header-content2 h2 {
    margin: 0.3em; 
    font-size: 1em; 
}

.profile-section {
    margin: 2em;
    padding: 2em;
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff; 
}

.profile-section label {
    display: block;
    margin-bottom: 0.5em;
}

.profile-section input {
    width: 50%;
    padding: 0.5em;
    margin-bottom: 1em;
}
