body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(90deg, transparent 0%, transparent 10%, #282828 10%, #282828 11%, transparent 11%, transparent 100%), linear-gradient(180deg, white 12%, transparent 12%), repeating-linear-gradient(180deg, #91C1E1 0px, #91C1E1 1px, transparent 1px, transparent 30px), linear-gradient(white, white);
    color: #282828;
}

.header {
    text-align: center;
    color: #282828;
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: top 0.5s;
    top: 0;
    background-color: #ffffff;
}

a {
    color: #282828;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.container {
    padding: 20px;
    margin-top: 80px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}
h2 {
    color:greenyellow;
}

.client-status-container {
    margin-top: 20px;
    color:greenyellow;
    text-align: center;
}

.client-status-container h2 {
    font-size: 1.2em;
    
    color: #282828;
}

.client-status {
    margin-top: 20px;
    text-align: center;
}

.client-status h2 {
    font-size: 1.2em;
    color: #282828;
    margin-bottom: 10px;
}

.client-status-box {
    display: inline-block;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    width: 300px;
    text-align: center;
}

.client-status-box p {
    font-size: 1em;
    margin: 0;
}

.client-status-box p#bmi-category {
    font-size: 1.5em;
}

.client-status-box p#bmi-category.normal {
    color: green; /* Change 'normal' BMI text color to green */
}

.client-status-box p#bmi-category.underweight {
    color: blue;
}

.client-status-box p#bmi-category.overweight {
    color: orange;
}

.client-status-box p#bmi-category.obese {
    color: red;
}

.statistics-options {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.statistics-options .btn-stat {
    background-color: #f7f7f7;
    color: #282828;
    border: 1px solid #ddd;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin: 0 10px;
}

.statistics-options .btn-stat:hover {
    background-color: #ca7a81;
    color: #fff;
}

.statistics-content {
    display: flex;
    justify-content: center;
}

.table {
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.table th, .table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
    color: #333;
}

.table th {
    background-color: #f4f4f4;
    text-transform: uppercase;
}

.table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.topnav {
    overflow: hidden;
    position: sticky;
    background-color: #e9e9e9;
    padding: 10px 0;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: white;
    color: rgb(40, 40, 40);
}

@media screen and (max-width: 600px) {
    .topnav a {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .statistics-options {
        flex-direction: column;
    }

    .statistics-options .btn-stat {
        margin: 10px 0;
    }
}

@media (max-width: 768px) {
    .header {
        font-size: 0.8em;
    }
}

@media (max-width: 480px) {
    .header {
        font-size: 0.6em;
    }
}
