<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <link rel="stylesheet" href="../Style-CSS/styles-Recipes.css">
</head>
<body>
    <header>
        <h1><a href="../Html/HomePage.html">Home</a></h1>
    </header>
    
    <div class="container">
        <h2>Ingredients</h2>
    <ul>
        <li>14 ounce block of firm tofu</li>
        <li>4 Stinky fermented bean curd, mashed</li>
        <li>2 green onions, minced</li>
        <li>1/2 teaspoon red chili peppers</li>
        <li>2 teaspoons potato starch (halve if using cornstarch)</li>
        <li>2 teaspoons oyster sauce</li>
        <li>1 teaspoon sugar</li>
        <li>2 medium cloves of garlic, minced</li>
        <li>1 tablespoon parsley</li>
        <li>1 teaspoon white spirit</li>
        <li>1 teaspoon fennel powder</li>
        <li>1 teaspoon vegetable oil</li>
    </ul>

    <h2>Instructions</h2>
    <ol>
        <li><strong>Step 1:</strong> Mix the water, stinky fermented bean curd, and white spirit in a large sealable container.</li>
        <li><strong>Step 2:</strong> Add the tofu into the fermented bean curd water.</li>
        <li><strong>Step 3:</strong> Seal the lid and put it in the refrigerator for more than 24 hours.</li>
        <li><strong>Step 4:</strong> Take out the refrigerated soaked tofu and drain it. Heat wok with oil, and fry the soaked tofu until it becomes golden. Transfer it on a plate and set aside.</li>
        <li><strong>Step 5:</strong> Heat wok with oil, and stir-fry garlic until fragrant. Add fennel powder, oyster sauce, 1/2 bowl of water and cooking until water boiling. Pour the soaked tofu, stir and cook for 1 minute.</li>
        <li><strong>Step 6:</strong> Sprinkle with water starch and parsley on it. Transfer it on a plate. Serve.</li>
    </ol>

    <h2>Notes</h2>
    <ul>
        <li>If you want to eat stinky tofu with a stronger smell, you can extend the soaking time appropriately.</li>
        <li>After soaking in the tofu, be sure to drain the water and fry it. When it is fried, it will not splash.</li>
    </ul>
    </div>

    <button class="scroll-up" onclick="window.scrollTo(0, 0)">↑</button>


</body>
</html>
