<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <link rel="stylesheet" href="../Style-CSS/styles-Recipes.css">
</head>
<body>
    <header>
        <h1><a href="../Html/HomePage.html">Home</a></h1>
    </header>
    <div class="container">
    <h1>Hummus</h1>
    <h2>Ingredients</h2>
    <ul>
        <li>1 can chickpeas, drained</li>
        <li>60ml cold water, plus 30ml for a looser consistency</li>
        <li>1 small garlic clove, peeled and crushed</li>
        <li>1 lemon, juiced then ½ zested</li>
        <li>3 tbsp tahini</li>
        <li>1 tbsp olive oil, to garnish (optional)</li>
        <li>Mixed crudités and toasted pitta bread, to serve (optional)</li>
    </ul>

    <h2>Method</h2>
    <ol>
        <li><strong>STEP 1:</strong> Thoroughly rinse the chickpeas in a colander under cold running water. Tip into the large bowl of a food processor along with 60ml of water and blitz until almost smooth. Add the garlic, lemon, and tahini, and blitz again. If the consistency is too thick, gradually pour in up to 30ml more water. Blitz again for about 5 mins, or until the hummus is smooth and silky.</li>
        <li><strong>STEP 2:</strong> Season with a good pinch of sea salt and transfer to a bowl. Swirl the top of the hummus with the back of a dessert spoon and drizzle over a little olive oil. Serve with crunchy crudités and toasted pitta bread, if you like.</li>
    </ol>

    <button class="scroll-up" onclick="window.scrollTo(0, 0)">↑</button>

</div>
</body>
</html>
